<div class="flex flex-column overflow-hidden h-screen py-2">
  <p-toast position="top-center" key="tc" [life]="1000"></p-toast>
  <div class="border-bottom-1 border-300">
    <div class="flex align-items-center px-3">
      <div class="flex-grow-1">
        <h1>Formulario Dinamico</h1>
      </div>
      <div class="flex flex-wrap justify-content-center gap-2">
        <div
          class="flex flex-wrap justify-content-center gap-2"
          *ngIf="!preview"
        >
          <button
            pButton
            type="button"
            class="p-button-primary p-button-text"
            (click)="save()"
            pTooltip="Guardar"
            tooltipPosition="bottom"
            [disabled]="
              !actionHistory.undoActions.length &&
              !actionHistory.redoActions.length
            "
          >
            <i class="pi pi-save"></i>
          </button>
          <div class="flex flex-wrap justify-content-center gap-2">
            <button
              pButton
              type="button"
              class="p-button-primary p-button-text"
              (click)="undo()"
              pTooltip="Revertir"
              tooltipPosition="bottom"
              [disabled]="!actionHistory.undoActions.length"
            >
              <i class="pi pi-undo"></i>
            </button>
            <button
              pButton
              type="button"
              class="p-button-primary p-button-text"
              (click)="redo()"
              pTooltip="Rehacer"
              tooltipPosition="bottom"
              [disabled]="!actionHistory.redoActions.length"
            >
              <i class="pi pi-refresh"></i>
            </button>
          </div>
        </div>
        <div class="flex">
          <p-toggleButton
            [(ngModel)]="preview"
            onLabel="Previsualizar"
            offLabel="Previsualizar"
            [style]="{ width: '10em' }"
          ></p-toggleButton>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-grow-1 overflow-hidden px-3">
    <p-scrollPanel styleClass="w-full h-full px-1 py-2">
      <form #dataForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!preview">
        <div
          cdkDropList
          [cdkDropListData]="formTemplate.groups"
          (cdkDropListDropped)="drop($event)"
          cdkDropListGroup
        >
          <ng-container
            *ngFor="let group of formTemplate.groups; index as groupIdx"
          >
            <div class="mb-3">
              <p-card
                [style]="{ border: !group.grid.rows.length ? '1px solid' : '' }"
                [styleClass]="
                  !group.grid.rows.length
                    ? 'border-red-500 border-round mb-3'
                    : ''
                "
                cdkDrag
              >
                <ng-template pTemplate="header">
                  <ng-container *ngIf="group.title">
                    <div class="flex gap-2 align-items-center px-3 cursor-move">
                      <div class="flex">
                        <i class="pi pi-arrows-alt"></i>
                      </div>
                      <div class="flex-grow-1">
                        <h2>{{ group.title }}</h2>
                      </div>
                      <div class="flex">
                        <button
                          pButton
                          type="button"
                          class="p-button-primary p-button-text"
                          (click)="onEditGroup(group)"
                        >
                          <i class="pi pi-pencil"></i>
                        </button>
                        <button
                          pButton
                          type="button"
                          class="p-button-danger p-button-text"
                          (click)="removeGroup(groupIdx)"
                        >
                          <i class="pi pi-trash"></i>
                        </button>
                      </div>
                    </div>
                  </ng-container>
                </ng-template>
                <ng-template pTemplate="body">
                  <div
                    cdkDropList
                    [cdkDropListData]="group.grid.rows"
                    (cdkDropListDropped)="drop($event)"
                    cdkDropListGroup
                    style="min-height: 70px"
                  >
                    <ng-container
                      *ngFor="let row of group.grid.rows; index as rowIdx"
                    >
                      <div
                        [style]="{
                          border: !row.cols.length ? '1px solid' : ''
                        }"
                        class="flex gap-2 align-items-center"
                        [ngClass]="
                          !row.cols.length
                            ? 'border-red-500 border-round mb-3'
                            : ''
                        "
                        cdkDrag
                      >
                        <div class="flex px-3 cursor-move">
                          <i class="pi pi-arrows-v"></i>
                        </div>
                        <div class="flex-grow-1">
                          <div
                            [id]="'group-' + groupIdx + '-row-' + rowIdx"
                            cdkDropList
                            cdkDropListOrientation="horizontal"
                            [cdkDropListData]="row.cols"
                            (cdkDropListDropped)="drop($event)"
                            [cdkDropListConnectedTo]="connectedLists"
                            class="grid"
                            cdkDropListGroup
                            style="min-height: 70px"
                          >
                            <ng-container
                              *ngFor="let col of row.cols; index as columnIdx"
                            >
                              <div class="col" cdkDrag>
                                <div
                                  class="flex flex-column gap-2 w-full mb-3"
                                  *ngIf="col.field"
                                >
                                  <label>{{ col.field.label }}</label>
                                  <p-inputGroup>
                                    <ng-container
                                      [ngSwitch]="col.field.dataType"
                                    >
                                      <ng-container *ngSwitchCase="'TEXT'">
                                        <ng-container
                                          *ngIf="!col.field.multiline"
                                        >
                                          <input
                                            pInputText
                                            [type]="col.field.controlType"
                                            class="ng-dirty"
                                            [ngClass]="col.field.htmlClass"
                                            [placeholder]="
                                              col.field.placeholder
                                            "
                                            [required]="col.field.required"
                                            [disabled]="col.field.disabled"
                                            [readOnly]="col.field.readOnly"
                                            [maxLength]="col.field.maxLength"
                                            [(ngModel)]="col.field.value"
                                            [ngModelOptions]="{
                                              standalone: true
                                            }"
                                          />
                                        </ng-container>
                                        <ng-container
                                          *ngIf="col.field.multiline"
                                        >
                                          <textarea
                                            pInputTextarea
                                            class="w-full ng-dirty"
                                            [ngClass]="col.field.htmlClass"
                                            rows="3"
                                            [placeholder]="
                                              col.field.placeholder
                                            "
                                            [required]="col.field.required"
                                            [disabled]="col.field.disabled"
                                            [readOnly]="col.field.readOnly"
                                            [maxLength]="col.field.maxLength"
                                            [(ngModel)]="col.field.value"
                                            [ngModelOptions]="{
                                              standalone: true
                                            }"
                                          ></textarea>
                                        </ng-container>
                                      </ng-container>
                                      <ng-container *ngSwitchCase="'NUMBER'">
                                        <p-inputNumber
                                          [showButtons]="true"
                                          class="w-full ng-dirty"
                                          styleClass="w-full ng-dirty"
                                          inputStyleClass="w-full ng-dirty"
                                          [ngClass]="col.field.htmlClass"
                                          [placeholder]="col.field.placeholder"
                                          [required]="col.field.required"
                                          [min]="col.field.min"
                                          [max]="col.field.max"
                                          [disabled]="col.field.disabled"
                                          [readonly]="col.field.readOnly"
                                          [(ngModel)]="col.field.value"
                                          [ngModelOptions]="{
                                            standalone: true
                                          }"
                                        ></p-inputNumber>
                                      </ng-container>
                                    </ng-container>
                                    <button
                                      pButton
                                      class="p-button-primary p-button-text"
                                      type="button"
                                      (click)="onEditField(col)"
                                    >
                                      <i class="pi pi-pencil"></i>
                                    </button>
                                    <button
                                      pButton
                                      type="button"
                                      class="p-button-danger p-button-text"
                                      (click)="
                                        removeColumn(row.cols, columnIdx)
                                      "
                                    >
                                      <i class="pi pi-trash"></i>
                                    </button>
                                  </p-inputGroup>
                                  <small>
                                    {{ col.field.helpText }}
                                  </small>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                        <div
                          class="flex gap-2 px-2 text-danger"
                          *ngIf="!row.cols.length"
                        >
                          <button
                            pButton
                            type="button"
                            class="p-button-success"
                            (click)="addFieldToRow(row)"
                          >
                            Crear campo
                            <i class="pi pi-plus ml-2"></i>
                          </button>
                          <button
                            pButton
                            type="button"
                            class="p-button-danger p-button-text"
                            (click)="removeRow(group.grid.rows, rowIdx)"
                          >
                            <i class="pi pi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="flex gap-2">
                    <div class="flex-grow-1">
                      <button
                        pButton
                        type="button"
                        class="p-button-primary w-full flex justify-content-center"
                        (click)="addRow(group.grid.rows)"
                      >
                        Crear espacio
                        <i class="pi pi-plus ml-2"></i>
                      </button>
                    </div>
                    <div class="flex-grow-1">
                      <button
                        pButton
                        type="button"
                        class="p-button-success w-full flex justify-content-center"
                        (click)="addRowWithField(group.grid.rows)"
                      >
                        Crear campo
                        <i class="pi pi-plus ml-2"></i>
                      </button>
                    </div>
                  </div>
                </ng-template>
              </p-card>
            </div>
          </ng-container>
          <button
            pButton
            type="button"
            class="p-button-success w-full flex justify-content-center"
            (click)="addGroup()"
          >
            Crear grupo
            <i class="pi pi-plus ml-2"></i>
          </button>
        </div>
      </form>
      <form #dataForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="preview">
        <ng-container *ngFor="let group of formTemplate.groups">
          <div class="mb-3">
            <p-card>
              <ng-template pTemplate="header">
                <ng-container *ngIf="group.title">
                  <div class="flex gap-2 align-items-center px-3">
                    <div class="flex-grow-1">
                      <h2>{{ group.title }}</h2>
                    </div>
                  </div>
                </ng-container>
              </ng-template>
              <ng-template pTemplate="body">
                <ng-container *ngFor="let row of group.grid.rows">
                  <div class="flex gap-2 align-items-center">
                    <div class="flex-grow-1">
                      <div class="grid">
                        <ng-container *ngFor="let col of row.cols">
                          <div class="col">
                            <div
                              class="flex flex-column gap-2 w-full mb-3"
                              *ngIf="col.field"
                            >
                              <label>{{ col.field.label }}</label>
                              <ng-container [ngSwitch]="col.field.dataType">
                                <ng-container *ngSwitchCase="'TEXT'">
                                  <ng-container *ngIf="!col.field.multiline">
                                    <input
                                      pInputText
                                      [type]="col.field.controlType"
                                      class="ng-dirty"
                                      [ngClass]="col.field.htmlClass"
                                      [placeholder]="col.field.placeholder"
                                      [required]="col.field.required"
                                      [disabled]="col.field.disabled"
                                      [readOnly]="col.field.readOnly"
                                      [maxLength]="col.field.maxLength"
                                      [(ngModel)]="col.field.value"
                                      [ngModelOptions]="{ standalone: true }"
                                    />
                                  </ng-container>
                                  <ng-container *ngIf="col.field.multiline">
                                    <textarea
                                      pInputTextarea
                                      class="w-full ng-dirty"
                                      [ngClass]="col.field.htmlClass"
                                      rows="3"
                                      [placeholder]="col.field.placeholder"
                                      [required]="col.field.required"
                                      [disabled]="col.field.disabled"
                                      [readOnly]="col.field.readOnly"
                                      [maxLength]="col.field.maxLength"
                                      [(ngModel)]="col.field.value"
                                      [ngModelOptions]="{ standalone: true }"
                                    ></textarea>
                                  </ng-container>
                                </ng-container>
                                <ng-container *ngSwitchCase="'NUMBER'">
                                  <p-inputNumber
                                    [showButtons]="true"
                                    class="w-full ng-dirty"
                                    styleClass="w-full ng-dirty"
                                    inputStyleClass="w-full ng-dirty"
                                    [ngClass]="col.field.htmlClass"
                                    [placeholder]="col.field.placeholder"
                                    [required]="col.field.required"
                                    [min]="col.field.min"
                                    [max]="col.field.max"
                                    [disabled]="col.field.disabled"
                                    [readonly]="col.field.readOnly"
                                    [(ngModel)]="col.field.value"
                                    [ngModelOptions]="{ standalone: true }"
                                  ></p-inputNumber>
                                </ng-container>
                              </ng-container>
                              <small>
                                {{ col.field.helpText }}
                              </small>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-template>
            </p-card>
          </div>
        </ng-container>
      </form>
    </p-scrollPanel>
  </div>
</div>

<p-dialog
  header="Edición de grupo"
  [(visible)]="showGroupForm"
  [modal]="true"
  [style]="{ width: '50vw', height: '100%' }"
  [draggable]="false"
  [resizable]="false"
  [contentStyle]="{ overflow: 'hidden', padding: '.7rem' }"
  [dismissableMask]="true"
  [maximizable]="true"
  (onHide)="onGroupActionEnd()"
>
  <ng-container *ngIf="groupSelected">
    <div class="flex flex-column h-full">
      <div class="flex-grow-1 overflow-hidden">
        <p-scrollPanel styleClass="w-full h-full">
          <div class="flex flex-column gap-2 w-full mb-3">
            <label>Titulo</label>
            <input pInputText type="text" [(ngModel)]="groupSelected.title" />
          </div>
        </p-scrollPanel>
      </div>
      <div class="flex flex-column">
        <h5 class="mb-3">Preview</h5>
        <p-card>
          <ng-template pTemplate="header">
            <ng-container *ngIf="groupSelected.title">
              <div class="flex gap-2 align-items-center px-3">
                <div class="flex-grow-1">
                  <h2>{{ groupSelected.title }}</h2>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </p-card>
      </div>
    </div>
  </ng-container>
</p-dialog>

<p-dialog
  header="Edición de campo"
  [(visible)]="showFieldForm"
  [modal]="true"
  [style]="{ width: '50vw', height: '100%' }"
  [draggable]="false"
  [resizable]="false"
  [contentStyle]="{ overflow: 'hidden', padding: '.7rem' }"
  [dismissableMask]="true"
  [maximizable]="true"
  (onHide)="onColumnActionEnd()"
>
  <ng-container *ngIf="colSelected?.field">
    <div class="flex flex-column h-full">
      <div class="flex-grow-1 overflow-hidden">
        <p-scrollPanel styleClass="w-full h-full">
          <div class="flex flex-column gap-2 w-full mb-3">
            <label>Label</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="colSelected.field.label"
            />
          </div>
          <div class="flex flex-column gap-2 w-full mb-3">
            <label>Placeholder</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="colSelected.field.placeholder"
            />
          </div>
          <div class="flex flex-column gap-2 w-full mb-3">
            <label>Tipo de dato</label>
            <p-dropdown
              [options]="dataTypeOptions"
              [(ngModel)]="colSelected.field.dataType"
              optionLabel="label"
              optionValue="value"
              [showClear]="true"
              class="w-full"
              styleClass="w-full"
              appendTo="body"
              (ngModelChange)="onDataTypeChange()"
            ></p-dropdown>
          </div>
          <div class="flex flex-column gap-2 w-full mb-3">
            <label>Tipo de campo</label>
            <p-dropdown
              [options]="controlTypeOptionsFiltered"
              [(ngModel)]="colSelected.field.controlType"
              optionLabel="label"
              optionValue="value"
              [showClear]="true"
              class="w-full"
              styleClass="w-full"
              appendTo="body"
            ></p-dropdown>
          </div>
          <ng-container *ngIf="colSelected.field.dataType === 'TEXT'">
            <div class="flex flex-column gap-2 w-full mb-3">
              <label>Longitud máxima</label>
              <p-inputNumber
                [showButtons]="true"
                [(ngModel)]="colSelected.field.maxLength"
                class="w-full"
                styleClass="w-full"
                inputStyleClass="w-full"
              ></p-inputNumber>
            </div>
          </ng-container>
          <ng-container *ngIf="colSelected.field.dataType === 'NUMBER'">
            <div class="flex flex-column gap-2 w-full mb-3">
              <label>Valor mínimo</label>
              <p-inputNumber
                [showButtons]="true"
                [(ngModel)]="colSelected.field.min"
                class="w-full"
                styleClass="w-full"
                inputStyleClass="w-full"
              ></p-inputNumber>
            </div>
            <div class="flex flex-column gap-2 w-full mb-3">
              <label>Valor máximo</label>
              <p-inputNumber
                [showButtons]="true"
                [(ngModel)]="colSelected.field.max"
                class="w-full"
                styleClass="w-full"
                inputStyleClass="w-full"
              ></p-inputNumber>
            </div>
          </ng-container>
          <div class="grid">
            <div class="col text-center">
              <div class="flex flex-column w-full mb-3">
                <label class="mb-2">Requerido</label>
                <p-inputSwitch
                  [(ngModel)]="colSelected.field.required"
                ></p-inputSwitch>
              </div>
            </div>
            <div class="col text-center">
              <div class="flex flex-column w-full mb-3">
                <label class="mb-2">Solo lectura</label>
                <p-inputSwitch
                  [(ngModel)]="colSelected.field.readOnly"
                ></p-inputSwitch>
              </div>
            </div>
            <div class="col text-center">
              <div class="flex flex-column w-full mb-3">
                <label class="mb-2">Deshabilitado</label>
                <p-inputSwitch
                  [(ngModel)]="colSelected.field.disabled"
                ></p-inputSwitch>
              </div>
            </div>
            <ng-container *ngIf="colSelected.field.dataType === 'TEXT'">
              <div class="col text-center">
                <div class="flex flex-column w-full mb-3">
                  <label class="mb-2">Multilinea</label>
                  <p-inputSwitch
                    [(ngModel)]="colSelected.field.multiline"
                  ></p-inputSwitch>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="flex flex-column gap-2 w-full mb-3">
            <label>Texto de ayuda</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="colSelected.field.helpText"
            />
          </div>
          <div class="flex flex-column gap-2 w-full mb-3">
            <label>Clases HTML</label>
            <p-autoComplete
              [(ngModel)]="htmlClassesSelected"
              (ngModelChange)="onHTMLClassesChange()"
              [suggestions]="htmlClassesFiltered"
              (completeMethod)="searchHtmlClass($event)"
              [multiple]="true"
              [dropdown]="true"
              field="label"
              appendTo="body"
            ></p-autoComplete>
          </div>
        </p-scrollPanel>
      </div>
      <div class="flex flex-column">
        <h5 class="mb-3">Preview</h5>
        <form #dataFormModal="ngForm" (ngSubmit)="onSubmit()">
          <div class="flex flex-column gap-2 w-full mb-3">
            <label class="form-label">{{ colSelected.field.label }}</label>
            <ng-container [ngSwitch]="colSelected.field.dataType">
              <ng-container *ngSwitchCase="'TEXT'">
                <ng-container *ngIf="!colSelected.field.multiline">
                  <input
                    pInputText
                    [type]="colSelected.field.controlType"
                    class="ng-dirty"
                    [ngClass]="colSelected.field.htmlClass"
                    [placeholder]="colSelected.field.placeholder"
                    [required]="colSelected.field.required"
                    [disabled]="colSelected.field.disabled"
                    [readOnly]="colSelected.field.readOnly"
                    [maxLength]="colSelected.field.maxLength"
                    [(ngModel)]="colSelected.field.value"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </ng-container>
                <ng-container *ngIf="colSelected.field.multiline">
                  <textarea
                    pInputTextarea
                    class="w-full ng-dirty"
                    [ngClass]="colSelected.field.htmlClass"
                    rows="3"
                    [placeholder]="colSelected.field.placeholder"
                    [required]="colSelected.field.required"
                    [disabled]="colSelected.field.disabled"
                    [readOnly]="colSelected.field.readOnly"
                    [maxLength]="colSelected.field.maxLength"
                    [(ngModel)]="colSelected.field.value"
                    [ngModelOptions]="{ standalone: true }"
                  ></textarea>
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'NUMBER'">
                <p-inputNumber
                  [showButtons]="true"
                  class="w-full ng-dirty"
                  styleClass="w-full ng-dirty"
                  inputStyleClass="w-full ng-dirty"
                  [ngClass]="colSelected.field.htmlClass"
                  [placeholder]="colSelected.field.placeholder"
                  [required]="colSelected.field.required"
                  [min]="colSelected.field.min"
                  [max]="colSelected.field.max"
                  [disabled]="colSelected.field.disabled"
                  [readonly]="colSelected.field.readOnly"
                  [(ngModel)]="colSelected.field.value"
                  [ngModelOptions]="{ standalone: true }"
                ></p-inputNumber>
              </ng-container>
            </ng-container>
            <small>
              {{ colSelected.field.helpText }}
            </small>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</p-dialog>
