<form class="container needs-validation py-3">
  <h1>Formulario Dinamico</h1>
  <div
    cdkDropList
    [cdkDropListData]="formTemplate.groups"
    (cdkDropListDropped)="drop($event)"
    cdkDropListGroup
  >
    <ng-container *ngFor="let group of formTemplate.groups">
      <div
        class="card mb-3"
        [ngClass]="!group.grid.rows.length ? 'border border-danger' : ''"
        cdkDrag
      >
        <div class="card-header" *ngIf="group.title">
          <div class="d-flex gap-2 align-items-center">
            <div class="d-flex px-1">
              <i class="fa-solid fa-arrows-up-down-left-right"></i>
            </div>
            <div class="flex-fill">
              <h5>{{ group.title }}</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div
            cdkDropList
            [cdkDropListData]="group.grid.rows"
            (cdkDropListDropped)="drop($event)"
            cdkDropListGroup
            style="min-height: 70px"
          >
            <ng-container *ngFor="let row of group.grid.rows; index as rowIdx">
              <div
                class="d-flex gap-2 align-items-center"
                style="--bs-border-opacity: 0.5"
                [ngClass]="
                  !row.cols.length ? 'border border-danger rounded mb-3' : ''
                "
                cdkDrag
              >
                <div class="d-flex px-2">
                  <i class="fa-solid fa-sort"></i>
                </div>
                <div class="flex-fill">
                  <div
                    cdkDropList
                    cdkDropListOrientation="horizontal"
                    [cdkDropListData]="row.cols"
                    (cdkDropListDropped)="drop($event)"
                    class="row"
                    cdkDropListGroup
                    style="min-height: 70px"
                  >
                    <ng-container *ngFor="let col of row.cols">
                      <div class="col" cdkDrag>
                        <div class="mb-3" *ngIf="col.field">
                          <label
                            for="exampleFormControlInput1"
                            class="form-label"
                            >{{ col.field.label }}</label
                          >
                          <div class="input-group">
                            <ng-container [ngSwitch]="col.field.dataType">
                              <ng-container *ngSwitchCase="'TEXT'">
                                <ng-container *ngIf="!col.field.multiline">
                                  <input
                                    [type]="col.field.controlType"
                                    class="form-control"
                                    [placeholder]="col.field.placeholder"
                                    [required]="col.field.required"
                                    [disabled]="col.field.disabled"
                                    [readOnly]="col.field.readOnly"
                                  />
                                </ng-container>
                                <ng-container *ngIf="col.field.multiline">
                                  <textarea
                                    class="form-control"
                                    rows="3"
                                  ></textarea>
                                </ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'NUMBER'">
                                <input
                                  [type]="col.field.controlType"
                                  class="form-control"
                                  [placeholder]="col.field.placeholder"
                                  [required]="col.field.required"
                                  [min]="col.field.min"
                                  [max]="col.field.max"
                                  [disabled]="col.field.disabled"
                                  [readOnly]="col.field.readOnly"
                                />
                              </ng-container>
                            </ng-container>
                            <button
                              class="btn btn-outline-primary"
                              type="button"
                              id="button-addon2"
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                              (click)="onAddFieldToCol(col)"
                            >
                              <i class="fa-solid fa-edit"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="d-flex gap-2 px-2 text-danger">
                  <button
                    *ngIf="!row.cols.length"
                    type="button"
                    class="btn btn-outline-success"
                    (click)="addFieldToRow(row)"
                  >
                    Crear campo <i class="fa-solid fa-plus"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    (click)="removeRow(group.grid.rows, rowIdx)"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="d-flex gap-2">
            <div class="flex-fill">
              <button
                type="button"
                class="btn btn-outline-primary w-100"
                (click)="addRow(group.grid.rows)"
              >
                Crear espacio <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <div class="flex-fill">
              <button
                type="button"
                class="btn btn-outline-success w-100"
                (click)="addRowWithField(group.grid.rows)"
              >
                Crear campo <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <button class="btn btn-primary">Enviar</button>
</form>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="colSelected?.field">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Edición de campo
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 form-floating">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="colSelected.field.label"
          />
          <label for="exampleFormControlInput1">Label</label>
        </div>
        <div class="mb-3 form-floating">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="colSelected.field.placeholder"
          />
          <label for="exampleFormControlInput1">Placeholder</label>
        </div>
        <div class="mb-3 form-floating">
          <select
            class="form-select"
            aria-label="Default select example"
            [(ngModel)]="colSelected.field.dataType"
          >
            <option
              [value]="option.value"
              *ngFor="let option of dataTypeOptions"
            >
              {{ option.label }}
            </option>
          </select>
          <label for="exampleFormControlInput1">Tipo de dato</label>
        </div>
        <div class="mb-3 form-floating">
          <select
            class="form-select"
            aria-label="Default select example"
            [(ngModel)]="colSelected.field.controlType"
          >
            <option
              [value]="option.value"
              *ngFor="let option of controlTypeOptions"
            >
              {{ option.label }}
            </option>
          </select>
          <label for="exampleFormControlInput1">Tipo de campo</label>
        </div>
        <ng-container *ngIf="colSelected.field.dataType === 'NUMBER'">
          <div class="mb-3 form-floating">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="colSelected.field.min"
            />
            <label for="exampleFormControlInput1">Valor mínimo</label>
          </div>
          <div class="mb-3 form-floating">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="colSelected.field.max"
            />
            <label for="exampleFormControlInput1">Valor máximo</label>
          </div>
        </ng-container>
        <hr />
        <form class="card">
          <div class="card-header">
            <h5>Preview</h5>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">{{
                colSelected.field.label
              }}</label>
              <div class="input-group">
                <ng-container [ngSwitch]="colSelected.field.dataType">
                  <ng-container *ngSwitchCase="'TEXT'">
                    <ng-container *ngIf="!colSelected.field.multiline">
                      <input
                        [type]="colSelected.field.controlType"
                        class="form-control"
                        [placeholder]="colSelected.field.placeholder"
                        [disabled]="colSelected.field.disabled"
                        [readOnly]="colSelected.field.readOnly"
                        [maxLength]="colSelected.field.maxLength"
                      />
                    </ng-container>
                    <ng-container *ngIf="colSelected.field.multiline">
                      <textarea
                        class="form-control"
                        rows="3"
                        [placeholder]="colSelected.field.placeholder"
                        [disabled]="colSelected.field.disabled"
                        [readOnly]="colSelected.field.readOnly"
                        [maxLength]="colSelected.field.maxLength"
                      ></textarea>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'NUMBER'">
                    <input
                      [type]="colSelected.field.controlType"
                      class="form-control"
                      [placeholder]="colSelected.field.placeholder"
                      [disabled]="colSelected.field.disabled"
                      [readOnly]="colSelected.field.readOnly"
                      [maxLength]="colSelected.field.maxLength"
                      [min]="colSelected.field.min"
                      [max]="colSelected.field.max"
                    />
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <button class="btn btn-primary">Comprobar validaciones</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
